<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.gelin.android.esnipe">

    <supports-screens/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:allowBackup="true">

        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ShareActivity"
                  android:label="@string/esnipe"
                  android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name="OpenActivity"
                  android:label="@string/esnipe"
                  android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="ebay.com" android:pathPrefix="/itm"/>
                <data android:scheme="https" android:host="ebay.com" android:pathPrefix="/itm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="www.ebay.com" android:pathPrefix="/itm"/>
                <data android:scheme="https" android:host="www.ebay.com" android:pathPrefix="/itm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="pages.ebay.com" android:pathPrefix="/link"/>
                <data android:scheme="https" android:host="pages.ebay.com" android:pathPrefix="/link"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="item.mobileweb.ebay.com"/>
                <data android:scheme="https" android:host="item.mobileweb.ebay.com"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="m.ebay.com" android:pathPrefix="/itm"/>
                <data android:scheme="https" android:host="m.ebay.com" android:pathPrefix="/itm"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
